<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <!-- Display radio buttons for each song,
            the value should be the trackId
            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->
    <!--    <input type="radio" name="trackId" value="1"> Song 1 <br/>-->
    <!--    <input type="radio" name="trackId" value="2"> Song 2<br/>-->
    <!--    <input type="radio" name="trackId" value="3"> Song 3 <br/>-->
    <!--    <input type='submit' value='Submit'>-->

    <form th:action="@{/listSongs}" th:method="post">
        <div th:each="song:${songs}">
            <input th:type="radio" th:value="${song.getTrackId()}" th:name="songId">
            <th:block th:text="${song.getTitle()}">

            </th:block>
            <br>
        </div>
        <input type="submit" th:value="songId">
    </form>
</main>
</body>
</html>